html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #eff1f3;
}

.layui-input-block {
    width: 500px;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-add,
#form-edit {
    padding-top: 40px;
    padding-right: 20px;
}

